@font-face {
    font-family: 'Mont Regular';
    src: url('fonts/Mont-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Mont SemiBold';
    src: url('fonts/Mont-SemiBold.ttf') format('truetype');
}
.lm-r-body {
    margin: 0;
    background-color: #1D2136;
}
.lm-r-container {
    width: 375px;
    height: 812px;
    display: grid;
    grid-template-rows: 81px 650px 81px;
}
.lm-r-answer-wrapper {
    grid-row: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}
.lm-r-info-box {
    width: 325px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border: 5px solid #A2FF76;
    border-radius: 30px;
}
.lm-r-result-title {
height: 34px;
margin-top: 85px;
width: 100%;
font-family: 'Mont SemiBold';
font-size: 31px;
font-weight: 700;
line-height: 33px;
text-align: center;
color: black;
}
.lm-r-image-wrapper {
    height: 122px;
}
.lm-r-result-subtitle {
    font-family: 'Mont SemiBold';
    font-size: 20px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
.lm-r-result-description {
width: 246px;
font-family: 'Mont Regular';
font-size: 16px;
font-weight: 600;
line-height: 22.4px;
text-align: center;
color: black;
text-align: center;
}
.lm-r-btn-back-to-game {
    width: 250px;
    height: 47px;
    border-radius: 10px;
    background-color: #1D2136;
    font-family: 'Mont SemiBold';
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: white;
    border: none;
    margin-bottom: 56px;
}
.lm-r-btn-back-to-game:hover {
    opacity: 0.9;
}
@media only screen and (min-width: 1440px) {
    .lm-r-container {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-rows: 18.2% 63.6% 18.2%;
    }
    .lm-r-info-box {
        width: 642px;
        height: 640px;
    }
    .lm-r-result-title {
        margin-top: 74px;
        margin-bottom: 10px;
    }
    .lm-r-image-wrapper {
        margin-bottom: 10px;
    }
    .lm-r-result-subtitle {
        font-size: 22px;
        line-height: 39px;
        justify-content: center;
    }
    .lm-r-result-description {
        width: 485px;
        font-size: 18px;
        line-height: 39px;
        }
    .lm-r-btn-back-to-game {
        font-size: 18px;
        line-height: 21.6px;
        width: 268px;
        height: 50px;
        }
    
  }